<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>islam hassan</h2>
            <h4> islam@gmail.com</h4>
        </div>
        <img src="../../../../assets/261734338_5203701162977498_1022730541982373216_n.jpg" alt="phto" >
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="subheader">Peags</h2>
   <a mat-list-item routerLink='/' routerLinkActive="list-item-active">Dashbord</a>
   <a mat-list-item routerLink='/posts' routerLinkActive="list-item-active">Posts</a>
   <a mat-list-item routerLink='/Articles' routerLinkActive="list-item-active">Articles</a>
    <mat-divider></mat-divider>
 <h2 matSubheader class="subheader">Tools</h2>
 <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
    <mat-icon>import_contacts</mat-icon>
    contacts
 </a>
 <a mat-list-item routerLink='/contacts' routerLinkActive="list-item-active">
    <mat-icon>contact_phone</mat-icon>
    Leads
 </a>
</mat-nav-list>


